<h1>Paloozas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paloozas.each do |palooza| %>
      <tr>
        <td><%= palooza.title %></td>
        <td><%= palooza.published? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Show', palooza %></td>
        <td><%= link_to 'Edit', edit_palooza_path(palooza) %></td>
        <td><%= link_to 'Destroy', palooza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Palooza', new_palooza_path %>